<div class="container-fluid" id="general">
    <div id="content">
        <div>
            <h1 class="text-center pt-5">Coneix Catalunya</h1>
        </div>
        <div>
            <h2>Barcelona</h2>
            <div class="row">
    
                <div class="card col-3 m-4" style="width: 18rem;">
                    <img src="../../../assets/img/barcelona/burriac.jpeg" class="card-img-top" alt="Castell del Burriac">
                    <div class="card-body">
                        <h5 class="card-title">Castell del Burriac</h5>
                        <p class="card-text">El Castell de Burriac, o Castell de Sant Vicenç, és un castell que s'alça sobre el turó de Burriac, al terme Cabrera de Mar i tocant al d'Argentona. Per la seva situació és molt visible des de bona part del Maresme central. Ha estat un punt immillorable de guaita i control del territori. És declarat BCIN, Bé Cultural d'Interès Nacional.</p>
                        <a href="https://goo.gl/maps/LiCpE8u7tsk8DsiFA" class="btn btn-primary">Com anar</a>
                    </div>
                </div>
    
                <div class="card col-3 m-4" style="width: 18rem;">
                    <img src="../../../assets/img/barcelona/monestirSantCugat.jpg" class="card-img-top" alt="Monestir de Sant Cugat">
                    <div class="card-body">
                        <h5 class="card-title">Monestir de Sant Cugat</h5>
                        <p class="card-text">Antiga abadia benedictina a la localitat catalana de Sant Cugat del Vallès. El monestir, construït entre els segles ix i xiv, destaca pel seu claustre. Va ser el monestir més important de tot el comtat de Barcelona. L'edifici va ser declarat bé cultural d'interès nacional l'any 1931.</p>
                        <a href="https://goo.gl/maps/MikqYiyvV2bZvG1q8" class="btn btn-primary">Com anar</a>
                    </div>
                </div>
    
    
                <div class="card col-3 m-4" style="width: 18rem;">
                    <img src="../../../assets/img/barcelona/montserrat.jpg" class="card-img-top" alt="Montserrat">
                    <div class="card-body">
                        <h5 class="card-title">Montserrat</h5>
                        <p class="card-text">Santa Maria de Montserrat és un monestir benedictí situat a la muntanya de Montserrat, al terme municipal de Monistrol de Montserrat, a una altitud de 720 m sobre el nivell del mar. És un símbol per a Catalunya i ha esdevingut un punt de pelegrinatge per a creients i de visita obligada per als turistes.</p>
                        <a href="https://goo.gl/maps/DYH7xVTTbXziFZre8" class="btn btn-primary">Com anar</a>
                    </div>
                </div>
    
            </div>
            <div class="row">
    
                <div class="card col-3 m-4" style="width: 18rem;">
                    <img src="../../../assets/img/barcelona/parcCiutadella.jpg" class="card-img-top" alt="Parc Güell">
                    <div class="card-body">
                        <h5 class="card-title">Parc de la ciutadella</h5>
                        <p class="card-text">El parc de la Ciutadella es troba al districte de Ciutat Vella de Barcelona. Durant molts anys va ser l'únic parc públic de la Ciutat Comtal. Va ser traçat en els antics terrenys de la fortalesa de la Ciutadella.</p>
                        <a href="https://goo.gl/maps/eToFGxprGWac7YiZ7" class="btn btn-primary">Com anar</a>
                    </div>
                </div>
    
                <div class="card col-3 m-4" style="width: 18rem;">
                    <img src="../../../assets/img/barcelona/barriGotic.jfif" class="card-img-top" alt="Parc Güell">
                    <div class="card-body">
                        <h5 class="card-title">Barri Gòtic</h5>
                        <p class="card-text">El Barri Gòtic és un barri amb encant i amb carrers medievals estrets plens de bars de moda, discoteques i restaurants catalans. Al Museu d'Història de Barcelona s'exposen restes de la ciutat romana. A prop de la catedral de Barcelona, hi ha artesans que venen objectes de cuir i joies, mentre que la concorreguda Rambla està envoltada de parades de flors i venedors de menjar de carrer.</p>
                        <a href="https://goo.gl/maps/pLedWyZr5ZSjREBJA" class="btn btn-primary">Com anar</a>
                    </div>
                </div>
    
                <div class="card col-3 m-4" style="width: 18rem;">
                    <img src="../../../assets/img/barcelona/mura.jpg" class="card-img-top" alt="Parc Güell">
                    <div class="card-body">
                        <h5 class="card-title">Mura</h5>
                        <p class="card-text">Mura és un poble, cap del municipi del mateix nom, al sud-est de la comarca del Bages, ja en contacte amb el Moianès i el Vallès Occidental. Situat a 454 m d'altitud, és una de les principals portes d'entrada del Parc Natural de Sant Llorenç del Munt i l'Obac.</p>
                        <a href="https://goo.gl/maps/wPhVFgrGrGtZiaPa7" class="btn btn-primary">Com anar</a>
                    </div>
                </div>
    
            </div>
        </div>
        <h2>Tarragona</h2>
    
        <div class="row">
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/tarragona/amfiteatre.jpg" class="card-img-top" alt="Castell del Burriac">
                <div class="card-body">
                    <h5 class="card-title">Amfitetre</h5>
                    <p class="card-text">L'amfiteatre de Tarragona és una edificació romana de l'antiga Tàrraco que actualment es conserva relativament restaurada i es feia servir per fer teatre. La seva gestió depèn del Museu d'Història de Tarragona. És part del conjunt arqueològic de Tàrraco, declarat Patrimoni de la Humanitat per la UNESCO el 2000</p>
                    <a href="https://goo.gl/maps/CFzu6n59fDyWtSRJ8" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/tarragona/circRoma.jpg" class="card-img-top" alt="Monestir de Sant Cugat">
                <div class="card-body">
                    <h5 class="card-title">Circs romans</h5>
                    <p class="card-text">El circ de Tarraco es trobava emplaçat dins el pomerium de la ciutat, aprofitant uns terrenys que, des d'època fundacional, eren de propietat estatal. Situat a la part alta de Tarragona, paral·lel a la Rambla Vella, i en algunes parts, manté un estat excepcional de conservació.</p>
                    <a href="https://goo.gl/maps/5G2Lynn5y2CSGGHi9" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/tarragona/montblanc.jpg" class="card-img-top" alt="Montserrat">
                <div class="card-body">
                    <h5 class="card-title">Montblanc</h5>
                    <p class="card-text">Montblanc és un poble i municipi de Catalunya, capital de la comarca de la Conca de Barberà. Té una població de 7.364 habitants i amb una superfície de 91,11 km² és el municipi més gran de la comarca. El poble té el títol de Vila Ducal des de 1387. El nucli antic fou declarat Conjunt Monumental i Artístic el 1947.</p>
                    <a href="https://goo.gl/maps/nPpsJ7RNY5tZPvJq9" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
        </div>
    
        <div class="row">
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/tarragona/poblet.jpg" class="card-img-top" alt="Castell del Burriac">
                <div class="card-body">
                    <h5 class="card-title">Monestir Poblet</h5>
                    <p class="card-text">El Reial Monestir de Santa Maria de Poblet és un monestir de l'orde del Cister fundat l'any 1150. Està situat al peu de les muntanyes de Prades, a la comarca de la Conca de Barberà. Poblet constitueix un impressionant conjunt arquitectònic i es pot comptar entre els conjunts monàstics més importants d'Europa.</p>
                    <a href="https://goo.gl/maps/VuX8r8YqdsP7qQWc8" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/tarragona/covesBenifernetjpg.jpg" class="card-img-top" alt="Monestir de Sant Cugat">
                <div class="card-body">
                    <h5 class="card-title">Coves de Benifernet</h5>
                    <p class="card-text">Les Cova Meravelles de Benifallet té un recorregut total de 510 metres, amb uns 9,82 m de desnivell. Destaquen per la seva quantitat i qualitat de concrecions, especialment les excèntriques. El lent degoteig de les aigües d’infiltració, carregades de carbonats en dissolució, va donant lloc a fascinants formacions, a voltes estrambòtiques, on la imaginació del visitant descobreix éssers fantàstics.</p>
                    <a href="https://goo.gl/maps/EYbsGrfyFRJYp5KLA" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/tarragona/deltaEbre.jpg" class="card-img-top" alt="Montserrat">
                <div class="card-body">
                    <h5 class="card-title">Delta de l'Ebre</h5>
                    <p class="card-text">El Delta de l'Ebre és la major zona humida de Catalunya, amb una superfície de 320 km2. Constitueix un dels hàbitats aquàtics més importants del Mediterrani occidental. L'equilibri entre la seva riquesa natural i l'explotació per part de l'home no ha estat mai fàcil, per això, l'any 1983, la Generalitat de Catalunya va aprovar la creació del Parc Natural del Delta de l'Ebre</p>
                    <a href="https://goo.gl/maps/ESfjjLvBqUd27u8F9" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
        </div>
        <h2>Girona</h2>
    
        <div class="row">
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/girona/Besalu.jpg" class="card-img-top" alt="Montserrat">
                <div class="card-body">
                    <h5 class="card-title">Besalú</h5>
                    <p class="card-text">El poble de Besalú es un dels pobles medievals de la Garrotxa a girona amb més encant del Prineu Català. Famós en el món per el Pont Medieal de Besalú, la Jueria i el Mikvé.</p>
                    <a href="https://goo.gl/maps/ag64S7ZjmPsRGrM19" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/girona/camprodon.jpg" class="card-img-top" alt="Montserrat">
                <div class="card-body">
                    <h5 class="card-title">Camporodón</h5>
                    <p class="card-text">Camprodon és un municipi de la comarca del Ripollès. Se situa a la Vall de Camprodon, al cor dels Pirineus orientals. Té com a municipis veïns: Molló, al nord; Sant Pau de Segúries, Sant Joan de les Abadesses i la Vall de Bianya, al sud; Llanars i Ogassa, a l'oest, i Montagut i Oix, al sud-est.</p>
                    <a href="https://goo.gl/maps/zo9divFiAR8C3LqPA" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/girona/ruinesEmpuria.jpg" class="card-img-top" alt="Montserrat">
                <div class="card-body">
                    <h5 class="card-title">Ruines d'Empúries</h5>
                    <p class="card-text">Empúries fou una antiga colònia grega fundada pels foceus i posteriorment romana ubicada a l'extrem sud del golf de Roses, al nord-est de l'actual municipi de l'Escala, al sud de Sant Martí d'Empúries, que en conserva el nom</p>
                    <a href="https://goo.gl/maps/UCXR4B6Q7KASM1w7A" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
        </div>
    
    
        <div class="row">
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/girona/fagedaJorda.jpg" class="card-img-top" alt="Montserrat">
                <div class="card-body">
                    <h5 class="card-title">La fageda d'en Jordà</h5>
                    <p class="card-text">La fageda d'en Jordà és un bosc de faigs excepcional perquè creix en un terreny planer i s'assenta damunt d'una colada de lava procedent del volcà del Croscat, la qual ofereix un relleu accidentat, amb abundoses prominències molt característiques, que poden assolir més de 20 m d'alçada i que reben el nom local de tossols.</p>
                    <a href="https://goo.gl/maps/uZQXhjmkjno1nqG4A" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/girona/pals.jpg" class="card-img-top" alt="Montserrat">
                <div class="card-body">
                    <h5 class="card-title">Pals</h5>
                    <p class="card-text">Pals és una vila i municipi de la comarca del Baix Empordà. Limita amb els municipis de Torroella de Montgrí, Fontanilles, Palau-sator, Torrent, Regencós i Begur. El nom de la vila prové del llatí "palus", que vol dir aiguamoll i es refereix a les zones humides properes.</p>
                    <a href="https://goo.gl/maps/LHcugfo2ajsQQx1j8" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/girona/montgrony.webp" class="card-img-top" alt="Montserrat">
                <div class="card-body">
                    <h5 class="card-title">Santuari de Montgrony</h5>
                    <p class="card-text">Montgrony o més genuïnament Mogrony és una de les entitats de població que conformen el municipi de Gombrèn, a la comarca catalana del Ripollès. En aquest indret s'hi troba el Castell de Montgrony, de gran importància per la comarca i amb nombroses referències al mite del comte Arnau.</p>
                    <a href="https://goo.gl/maps/FK6ZCdr66CCm8sAS8" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
        </div>
    
        <h2>Lleida</h2>
    
        <div class="row">
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/lleida/laSeuVella.jpeg" class="card-img-top" alt="Montserrat">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/lleida/laSeuVella.jpeg" class="card-img-top" alt="Montserrat">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/lleida/laSeuVella.jpeg" class="card-img-top" alt="Montserrat">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
        </div>
    
        <div class="row">
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/lleida/laSeuVella.jpeg" class="card-img-top" alt="Montserrat">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/lleida/laSeuVella.jpeg" class="card-img-top" alt="Montserrat">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
            <div class="card col-3 m-4" style="width: 18rem;">
                <img src="../../../assets/img/lleida/laSeuVella.jpeg" class="card-img-top" alt="Montserrat">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Com anar</a>
                </div>
            </div>
    
        </div>
    </div>
</div>